@import "src/basic";

ul {
	width: 220px;
	margin: 0;
	padding: 1.5em 0;
	max-height: 340px;
	overflow-y: auto;

	li {
		list-style: none;
		padding: 0 10px;
		border-bottom: 1px solid $lightGrey;

		&:not(:first-child) {
			padding-top: 5px;
		}

		div {
			display: flex;
			flex-direction: column;

			h4, p {
				margin: 0;
				padding: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			p {
				font-size: 0.8em;
			}
		}

		&:hover {
			background-color: $darkblue;
			color: $lightGrey;
			cursor: pointer;
		}
	}
}
