@import "src/basic";

.container {
	overflow: auto;

	table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0;
		border: 1px solid $lightGrey;
		color: $grey;
		font-weight: bold;
	}
}

.arrow {
	width: 20px;
	height: 20px;

	&:after {
		content: " ";
		transform: rotate(45deg);
		position: absolute;
		right: 10px;
		width: 20px;
		height: 20px;
		background-color: $lightGrey;
		z-index: 10;
	}
}

.popper[data-popper-placement^="left-start"] > .arrow,
.popper[data-popper-placement^="left"] > .arrow,
.popper[data-popper-placement^="left-end"] > .arrow {

	&:after {
		left: 252px;
	}
}
