@import "../../../../../../basic";

td {
	min-width: 140px;
	max-width: 140px;
	height: 140px;
	max-height: 140px;
	padding: 10px;
	border: 1px solid $lightGrey;
	overflow: hidden;
	vertical-align: top;

	&:focus {
		outline: none;
	}

	h3 {
		font-style: italic;
		margin-top: 0;
		margin-bottom: 10px;
	}
	& > div {
		height: 90px;
		overflow-y: auto;
	}
}

.today {
	background-color: $lightGrey;
}

td:focus-visible, td:hover, .active {
	padding: 9px;
	background-color: $blue;
	border-color: $darkblue;
	border-width: 2px;
	outline: none;
	color: $darkGrey;
}
